/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: black;
  background-color: white;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.cover-container {
  max-width: 680px;
  max-height: 680px;
  width:100%;
}

.innercover{
  height: 100%;
  width:100%;
}

/*
*Score panel and Hearder
*/

.score-panel{
  padding-top:20px;
}

.header{
  padding-bottom: 40px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

#restart{
  padding-bottom: 20px;
  cursor: pointer;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

/*
*Card and Deck
*/

.deck{
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  background-image: url('../img/background1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.card, .crd{
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  height: 125px;
  width: 125px;
  -webkit-transition:-webkit-transform 0.5s;
  transition:transform 0.5s;
  background:#FFEB7A;
  background:#FF9D28;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/*
*Flipping the card animation
*/

.flipping {
  transform: translate(0, 20px) rotateY(90deg);
  -webkit-transform: translate(0, 20px) rotateY(90deg);
}

/*
*When card don't match animation.
*/

.nomatch{
  animation: shake 0.5s; 
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/*
*when card match animation
*/

@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
}

.match {
  animation-name: stretch;
  animation-duration: .5s; 
  animation-timing-function: ease-in; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

/*
*The Modal (background) 
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*
*Modal Content 
*/
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 59%;
  height:85%;
}

/*
*The Close Button 
*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content{
  color:black;
}
.l1{
  font-size: 34px;
}

.fa-check-circle{
  font-size:44px;
  color:green;
}