/*
 * Globals
 */

/* Links 
a,
a:focus,
a:hover {
  color: #fff;
}
*/
/* Custom default button */
/*.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;  Prevent inheritance from `body` 
  background-color: #fff;
  border: .05rem solid #fff;
}
*/

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: black;
  background-color: white;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  
}

.cover-container {
  max-width: 680px;
  /*max-height: 800px;*/
  max-height: 680px;
  width:100%;
}


/*
 * Header
 */
 /*

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  width:100%;
  padding-bottom: 40px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
*/

.innercover{
  /*background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);*/
  /*background-color: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);*/
  height: 100%;
  width:100%;
  /*max-height: 480px;*/
}

.score-panel{
  padding-top:20px;
}

.header{
  padding-bottom: 40px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

#restart{
  padding-bottom: 20px;
  cursor: pointer;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.deck{
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  background-image: url('../img/background1.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.card, .crd{
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  /*height:80%;
  width:100%;*/
  height: 125px;
  width: 125px;
  -webkit-transition:-webkit-transform 0.5s;
  transition:transform 0.5s;
  background:#FFEB7A;
  background:#FF9D28;
  /*background: #2e3d49;
  font-size: 0;
  color: #ffffff;*/
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flipping {
  transform: translate(0, 20px) rotateY(90deg);
  -webkit-transform: translate(0, 20px) rotateY(90deg);
}

/*.face:hover {*/
.face{
  animation: shake 0.5s; 
  /*animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;*/
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    /*background-color: red;*/
    border-radius: 100%;
  }
  50% {
    /*background-color: orange;/*
  }
  100% {
    transform: scale(1.5);
    /*background-color: yellow;*/
  }
}

.element {
  /*height: 250px;
  width: 250px;
  margin: 0 auto;
  background-color: red;*/
  animation-name: stretch;
  animation-duration: .5s; 
  animation-timing-function: ease-in; 
  animation-delay: 0;
  animation-direction: alternate;
  /*animation-iteration-count: infinite;*/
  animation-fill-mode: none;
  animation-play-state: running;
}




/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 59%;
  height:85%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content{
  color:black;
}
.l1{
  font-size: 34px;
}

.fa-check-circle{
  font-size:44px;
  color:green;
}
/*
.colums{
  width:100%;
  height:100%;
  min-height: 100px;
}

 * Cover
 
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

*/
/*
 * Footer
 
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
<img class="card turnCSS" src="file:///C:/Users/qcard/udacity-course/Memory%20Game/img/back.png" />